<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>terkalma</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta name="Description" content="terkalma against sanity.">
    <meta name="robots" content="index, nofollow">
    <link rel="stylesheet" href="static/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="post-container">
      <div class="post">
        <ul>
          <li>wasting time.</li>
          <li>running instead of saying no.</li>
          <li>lack of empathy.</li>
          <li>lack of personality.</li>
        </ul>
      </div>
    </div>
  </body>
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="static/js/d3.min.js"></script>
  <script src="static/js/underscore.js"></script>
  <script src="static/js/distribution.js"></script>
  <script src="static/js/point.js"></script>
  <script src="static/js/branch.js"></script>
  <script src="static/js/tree.js"></script>
  <script src="static/js/main.js"></script>
</html>
